.navbar {
    height: 100vh;
    width: 220px;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    background-color: var(--mantine-color-brunswick-green-7);
}

.navbarMain {
    flex: 1;
}

.header {
    padding-bottom: var(--mantine-spacing-md);
    margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-white);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
    margin-bottom: var(--mantine-spacing-sm);

    @mixin hover {
        background-color: var(--mantine-color-brunswick-green-6);
        color: var(--mantine-color-white);

        .linkIcon {
            color: var(--mantine-color-white);
        }
    }

    &[data-active] {
        &,
        &:hover {
            box-shadow: var(--mantine-shadow-sm);
            background-color: var(--mantine-color-white);
            color: var(--mantine-color-brunswick-green-7);

            .linkIcon {
                color: var(--mantine-color-brunswick-green-7);
            }
        }
    }
}

.linkIcon {
    color: var(--mantine-color-blue-1);
    margin-right: var(--mantine-spacing-sm);
    width: 25px;
    height: 25px;
}

.header {
    background-color:var(--mantine-color-brunswick-green-7);
    overflow: hidden;
}